.print-model-title {
  color: #888;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  > li {
    height: 40px;
    line-height: 34px;
    font-size: 16px;
    &:first-of-type {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      > span{
        text-align: left;
        &:first-of-type {
          margin-right: 25px;
        }
        &:last-of-type {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    &:last-of-type {
      flex-shrink: 0;
      width: 290px;
      margin-left: 15px;
      padding-left: 15px;
      box-sizing: border-box;
      border-left: 1px solid #eee;
      white-space: nowrap;
      overflow: hidden;
      > span {
        display: inline-block;
        max-width: 108px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:last-of-type {
          max-width: unset;
        }
      }
    }
  }
}
.print-model-wrap {
  color: red;
  :global {
    .ant-modal {
      .ant-modal-content {
        min-height: 550px;
        border-radius: 5px;
        > .ant-modal-header {
          border-radius: 5px 5px 0 0;
          padding: 38px 20px 15px;
        }
        > .ant-modal-close {
          right: -48px;
          top: -6px;
          > span {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 3px;
            &:active {
              background-color: #aaa;
            }
            > i {
              font-size: 18px;
              color: #fff;
              font-weight: 400;
            }
          }
        }
        > .ant-modal-body {
          padding-top: 16px;
        }
      }
    }
    
  }
}

.is-full-records {
  display: flex;
  flex-direction: column;
  align-items: center;
  > li {
    text-align: center;
    > button {
      width: 240px;
      height: 65px;
      font-size: 22px;
      border-radius: 4px;
      & + button {
        margin-left: 100px;
      }
    }
  }
}
.greater-than-1-count-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  > li {
    &.greater-than-1-count-wrap-second-li {
      margin-top: 105px;
      margin-bottom: 110px;
      > button {
        height: 145px;
        width: 380px;
        font-size: 42px;
        border-radius: 5px;
        & + button {
          margin-left: 155px;
          background-color: #f4a307;
          border-color: #f4a307;
          &:hover, &:focus {
            background-color:mix(#fff,  #f4a307, 30%);
            border-color:mix(#fff,  #f4a307, 30%);
          }
          &:active {
            background-color:mix(rgb(46, 45, 4),  #f4a307, 15%);
            border-color:mix(rgb(43, 35, 4),  #f4a307, 15%);
          }
        }
      }
    }
    &:last-of-type {
      margin-bottom: 56px;
      > button {
        width: 400px;
        height: 90px;
        font-size: 32px;
        border-radius: 5px;
        color: #428dfa;
        border-color: #428dfa;
        &:hover {
          background-color: #ebf7ff;
        }
        &:active {
          background-color: #b4daf3;
        }
      }
    }
  }
}

.input-num-box {
  > li {
    text-align: center;
    &:nth-of-type(2) {
      margin: 105px 0 120px;
      > input {
        width: 236px;
        height: 60px;
        border-radius: 4px;
        margin: 0 20px;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        &::placeholder {
          font-size: 20px;
        }
      }
      > span {
        font-size: 18px;
      }
    }
    > button {
      width: 240px;
      height: 65px;
      margin: 0 50px;
      font-size: 22px;
      border-radius: 4px;
      &:first-of-type {
        color: #428dfa;
        border-color: #428dfa;
        &:hover {
          background-color: #ebf7ff;
        }
        &:active {
          background-color: #b4daf3;
        }
      }
    }
  }
}