.submit-page-header-wrap {
  height: 90px;
  display: flex;
  align-items: center;
  > div {
    margin-right: 50px;
    > span {
      font-size: 15px;
      font-weight: 700;
      color: #585858;
    }
  }
  > p {
    position: relative;
    top: -1px;
  }
}